<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{com/head::head-frag(title='Welcome')}">
</head>
<body class="img-fluid">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2637681035442321"
        crossorigin="anonymous"></script>
  <div class="container-fluid d-flex flex-wrap flex-column gap-2 min-vh-100">
      <!-- Narvbar -->
      <div th:replace="~{com/nav::navbar}"></div>
      <!-- Main -->
      <main class="container d-flex flex-wrap flex-grow-1 gap-2 justify-content-center align-content-center">
          <div th:replace="~{com/apiDoc::article-doc}"></div>
      </main>
      <!-- footer -->
      <div th:replace="~{com/footer::footer-frag}"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
  <script type="module" th:src="@{js/basicExample.js}"></script>
</body>
</html>